table{
   border: 1px grey solid;
}
td{
   border: 1px grey solid;
   padding: 10px;
}
tr{
   border: 1px grey solid;
}
body{
   background: linear-gradient(90deg, #ceebd8,#b9dfda,#f5c1cf);
}